@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap')



html {
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", sans-serif; 
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    position: relative;
    
}

html {
    scroll-behavior: smooth;
}

html,body {
    overflow-x: hidden;
}

.section-wrapper {
    padding-top: 70px;
    padding-bottom: 70px;
}

.section-header {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
    text-align: center;
    text-transform: uppercase;  
    margin-bottom: 20px;
}

.section-hr {
    width: 20%;
    background-color: #FFDB58;
    height: .3rem;
    border: 0
}


/* -----------Navigation---------*/

.nav-container {
    padding: 0;
    margin: 0;
}

.navbar {
background-color: rgba(0, 0, 0, 0.9);
}

.navbar .navbar-brand {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    color: #fafafa;
}

.navbar-brand span {
    font-weight: 700;
    color: #FFDB58;
}

.navbar-nav .nav-item {
    padding-left: 5px;
}

.navbar-dark .navbar-nav .nav-item a {
    color: #fafafa;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}

.navbar-dark .nav-item:hover .nav-link,
.navbar-dark .navbar-nav .nav-link.active {
    background-color: #FFDB58;
    color: black;
    font-weight: 700;
}


.navbar-toggler {
    border: none;
    font-size: 25px;
    padding: 0;
}



/* -----------Hero Container---------*/
.container-hero {
    height: 100vh;
    background: url("../images/hero1.jpg") no-repeat fixed; 
    background-position: right;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
}

.hero-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.25);
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.vert-line {
    border-left: solid 5px;
    border-color:#FFDB58;
    padding-left: 20px;
}

.header {
    margin-left: 50px;
    padding-bottom: 60px;
    margin-bottom: 10px;

}

.main-heading {
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    color: #fafafa;
    font-weight: 600;
    font-size: 4.3rem;
}

.main-text {
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    color: #fafafa;
    
    font-weight: 500;
    font-size: 25px;
}

/********Buttons*********/

.hero-buttons {
    margin-left: 25px;
    margin-top: 25px;
    
}

.hero-buttons a {
    text-decoration: none;
}

.btn:focus {
    box-shadow: none;
}


.btn--mus {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    background-color: #FFDB58;
    border: 0;
    color: black;
    width: 200px;
    margin-right: 10px; 
}

.btn--white {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    background-color: #fafafa;
    border: 0;
    color: black;
    width: 200px;
}

/*Button-hover****/

.hvr-underline-from-center-mus,
.hvr-underline-from-center-white {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center-mus:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: #fafafa;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-underline-from-center-white:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: #FFDB58;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center-mus:hover:before, .hvr-underline-from-center-mus:focus:before, .hvr-underline-from-center-mus:active:before {
  left: 0;
  right: 0;
}

.hvr-underline-from-center-white:hover:before, .hvr-underline-from-center-white:focus:before, .hvr-underline-from-center-white:active:before {
  left: 0;
  right: 0;
}

/*****Scroll arrows*************/

.scroll-down {
    position: absolute;
    bottom: 1.5rem;
    left: 50%;
    transform: translate(-50%);
}

.mouse {
    height: 3rem;
    width: 1.5rem;
    background-color:rgba(63, 66, 70, 0.7);
    border: 2px solid #fafafa;  ;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
}

.mouse span {
    width: .5rem;
    height: .7rem;
    background-color: #fafafa;
    display: block;
    border-radius: 30%;
    margin-top: 5px;
    animation: move-wheel 1s linear infinite;
}

.arrow span {
    height: 1.5rem;
    width: 1.5rem;
    display: block;
    border: 3px solid transparent;
    border-right-color: #fafafa;
    border-bottom-color: #fafafa;
    transform: rotate(45deg);
    animation: arrow-down .5s alternate infinite;
}

@keyframes move-wheel {
    0% {
        opacity: 0;
        transform: translateY(-.3rem);
    } 

     100% {
        opacity: 1;
        transform: translateY(1rem);
    } 
}

@keyframes arrow-down {
    0%{
        opacity: 0;
    }
    25%{
        opacity: .25;
    }
    50%{
        opacity: .50;
    }
    75%{
        opacity: .75;
    }
    100%{
        opacity: 1;
    }
}

/*****About Me******/

.about-container {
    height: 100%;
    width: 70%;
    margin: 0 auto;
}

.about-img {
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0 auto;
}

.about-content p {
    margin-top: 25px;
    text-align: center;
    line-height: 1.7;
}



/*********My Projects****************/
.section-wrapper-projects{
    background-color: #191919;
}

#projects .section-header {
    color: #fafafa;
}

#projects .row, 
#skills .row {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-top: 2rem;
}

.project-block {
    padding:0;
}

.content {
    position: relative;
    width: 90%;
    max-width: 400px;
    margin: 10px auto;
    overflow: hidden;
}

.content .content-overlay {
    background: rgba(0, 0, 0, 0.9);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay {
    opacity: 1;
}

.content-image {
    width: 100%;
    height: 17rem;
    vertical-align: middle;
}

.content-image img {
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
}

.content-details {
    position: absolute;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}


.content:hover .content-details {
    top: 50%;
    left: 50%;
    opacity: 1;
    cursor: pointer;
}

.content-details h3 {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 500;
    text-transform: uppercase;  
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
    color: #fafafa;
}

.content-details p {
    color: #fafafa;
    font-size: 0.8rem;
    text-align:center;
}

.content-details span {
    color: #FFDB58;
    font-weight: 600;
}

.fadeIn-bottom {
    top: 80%;
}

.content-details hr {
    width: 20%;
    background-color: #FFDB58;
    height: .1rem;
    border: 0;
}

.button-projects {
    margin-top: 40px;
}

/************My Skills***************/


.skill-heading {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
}

.skill-heading i {
    display: block;
    text-align: center;
    font-size: 40px;
    margin-top: .7rem; 
    margin-bottom: .7rem;
    color: #FFDB58;
}

.hvr-grow {
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.skill-text {
    margin-bottom: 1.2rem;
    text-align: justify;
}

.button-skills {
    margin-top: 40px;
}




/*********Media queries*********/

@media screen and (max-width:800px) {
   
   .header {
       margin-right: 1rem;
   }
   
    .main-heading {
        font-size: 3.8rem;
    }
    .container-hero {
        height: 100vh;
        background: url("../images/hero1.jpg") no-repeat fixed; 
        background-position: center;
        background-size: cover;
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 0px;
    }

}

@media screen and (max-width:460px) {
    .main-heading {
        font-size: 2rem;
    }

    .main-text {
      font-size: 1.5rem;  
    }

    .hero-buttons {
        margin-left: 25px;
    }
    .btn--mus {
        margin-bottom: 15px;
    }

    .container-hero {
    height: 100vh;
    background: url("../images/hero1.jpg") no-repeat fixed; 
    background-position: right;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
    }

    .skill-text {
    margin-bottom: 1.2rem;
    text-align: center;
    }

}



