@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap');


body {
    font-family: "Open Sans", sans-serif; 
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    position: relative;
    
}

html {
    scroll-behavior: smooth;
}

html,body {
    overflow-x: hidden;
}

.section-wrapper {
    padding-top: 70px;
    padding-bottom: 70px;
}

.section-header {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
    text-align: center;
    text-transform: uppercase;  
    margin-bottom: 20px;
}

.section-hr {
    width: 20%;
    background-color: #FFDB58;
    height: .3rem;
    border: 0
}


/* -----------Navigation---------*/

.nav-container {
    padding: 0;
    margin: 0;
}

.navbar {
background-color: rgba(0, 0, 0, 0.9);
}

.navbar .navbar-brand {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    color: #fafafa;
}

.navbar-brand span {
    font-weight: 700;
    color: #FFDB58;
}

.navbar-nav .nav-item {
    padding-left: 5px;
}

.navbar-dark .navbar-nav .nav-item a {
    color: #fafafa;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}

.navbar-dark .nav-item:hover .nav-link,
.navbar-dark .navbar-nav .nav-link.active {
    background-color: #FFDB58;
    color: #191919;
    font-weight: 700;
}

.navbar-toggler {
    border: none;
    font-size: 25px;
    padding: 0;
}


/* -----------Hero Container---------*/
.container-hero {
    height: 100vh;
    background: url("../images/hero1.jpg") no-repeat fixed; 
    background-position: right;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
    background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
}

.hero-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.25);
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.vert-line {
    border-left: solid 5px;
    border-color:#FFDB58;
    padding-left: 20px;
}

.header {
    margin-left: 50px;
    padding-bottom: 60px;
    margin-bottom: 10px;

}

.main-heading {
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    color: #fafafa;
    font-weight: 600;
    font-size: 4.3rem;
}

.main-text {
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    color: #fafafa;
    
    font-weight: 500;
    font-size: 25px;
}

/********Buttons*********/

.hero-buttons {
    margin-left: 25px;
    margin-top: 25px;
    
}

.hero-buttons a {
    text-decoration: none;
}

.btn:focus {
    box-shadow: none;
}


.btn--mus {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    background-color: #FFDB58;
    border: 0;
    color: black;
    width: 200px;
    margin-right: 10px; 
}

.btn--white {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    background-color: #fafafa;
    border: 0;
    color: black;
    width: 200px;
}

/*Button-hover****/

.hvr-underline-from-center-mus,
.hvr-underline-from-center-white {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center-mus:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: #fafafa;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-underline-from-center-white:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: #FFDB58;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center-mus:hover:before, .hvr-underline-from-center-mus:focus:before, .hvr-underline-from-center-mus:active:before {
  left: 0;
  right: 0;
}

.hvr-underline-from-center-white:hover:before, .hvr-underline-from-center-white:focus:before, .hvr-underline-from-center-white:active:before {
  left: 0;
  right: 0;
}

/*****Scroll arrow*************/

.scroll-down {
    position: absolute;
    bottom: 1.5rem;
    left: 50%;
    transform: translate(-50%);
}

.arrow span {
    height: 1.5rem;
    width: 1.5rem;
    display: block;
    border: 3px solid transparent;
    border-right-color: #FFDB58;
    border-bottom-color: #FFDB58;
    transform: rotate(45deg);
    animation: arrow-down .5s alternate infinite;
}

@keyframes arrow-down {
    0%{
        opacity: 0;
    }
    25%{
        opacity: .25;
    }
    50%{
        opacity: .50;
    }
    75%{
        opacity: .75;
    }
    100%{
        opacity: 1;
    }
}

/*****About Me******/

.about-container {
    height: 100%;
    width: 70%;
    margin: 0 auto;
}

.about-img {
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0 auto;
}

.about-content p {
    margin-top: 25px;
    text-align: center;
    line-height: 1.7;
}


/*********My Projects****************/
.section-wrapper-projects{
    background-color: #191919;
}

#projects .section-header {
    color: #fafafa;
}

#projects .row, 
#skills .row {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-top: 2rem;
}

.project-block {
    padding:0;
}

.content {
    position: relative;
    width: 90%;
    height: auto;
    margin: 10px auto;
    overflow: hidden;
}

.content-image {
    width: 100%;
    height: auto;   
}

.content .content-overlay {
    background: rgba(0, 0, 0, 0.9);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}


.content:hover .content-overlay {
    opacity: 1;
}

.content-image img {
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
}

.content-details {
    position: absolute;
    padding-left: .5rem;
    padding-right: .5rem;
    width: 90%;
    height: auto;
    top: 50%;
    left: 50%;
    opacity: 0;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        -webkit-transition: all 0.3s ease-in-out 0s;
        -moz-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details {
    top: 50%;
    left: 50%;
    opacity: 1;
    cursor: pointer;
}

.content-details h3 {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 500;
    text-transform: uppercase;  
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
    color: #fafafa;
}

.content-details p {
    color: #fafafa;
    font-size: 0.8rem;
    text-align:center;
}

.content-details span {
    color: #FFDB58;
    font-weight: 600;
}

.fadeIn-bottom {
    top: 80%;
}

.content-details hr {
    width: 20%;
    background-color: #FFDB58;
    height: .1rem;
    border: 0;
}

.button-projects {
    margin-top: 40px;
}

/************My Skills***************/


.skill-heading {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
}

.skill-heading i {
    display: block;
    text-align: center;
    font-size: 40px;
    margin-top: .7rem; 
    margin-bottom: .7rem;
    color: #FFDB58;
}

.hvr-grow {
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.skill-text {
    margin-bottom: 1.2rem;
    text-align: justify;
}

.button-skills {
    margin-top: 40px;
}

/*********Contacts***********************/
.contacts-wrapper {
    background-color: #191919;
}

#contacts .section-header {
    color: #fafafa;
}


.contact-details {
    margin-top: 2.5rem;
    padding-top: 2rem;
}

.contact-details i {
    color: #FFDB58;
    margin-right: .8rem;
    font-size: 1.5rem;
    font-weight: 700;
}

.contact-details .details {
     margin-bottom: 2rem;
    }

.contact-details .details a {
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    font-size: 1.5rem;
    color: #fafafa;
    margin-bottom: 2rem;
    }

.contact-details .details a:hover {
    color: #FFDB58;
    font-weight: 500;
}

.form-subh {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    text-align: center;
    text-transform: uppercase;  
    margin-bottom: 2rem;
    color: #fafafa;
}

.form-subh span {
  color: #FFDB58; 
  font-weight: 600; 
}

.form-group label {
    font-weight: 500;
    text-transform: uppercase;  
    margin-bottom: .5rem;
    color:  #FFDB58;
}

/**********Footer***************/
footer {
    margin: 0 auto;
    text-align: center;
    padding: 0;
    background-color:rgba(0, 0, 0, 0.9); 
}

footer .section-hr {
    width: 80%;
    margin-top: 0;
}

.social-icon {
    display: inline-block;
    margin: 0 auto;
    padding-right: 1rem;
}

.social-icon a i {
    font-size: 25px;
    line-height: 1;
    text-align: center;
    width: 3rem;
    height: 3rem;
    padding: 10px 0;
    color: #191919;
    border: solid 1px #FFDB58;
    background-color: #FFDB58;
    border-radius: 50%;
    
     transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-icon a i:hover {
    color: #fafafa;
} 

.footer-text {
    margin: 0;
    padding: 15px 0;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    color: #fafafa;
}


/*********Media queries*********/

/*For small devices (such as mobile phones )*/ 
@media screen and (max-width:600px) {
    .main-heading {
        font-size: 2rem;
        margin-right: 1rem; 
    }

    .main-text {
      font-size: 1.5rem; 
      margin-right: 1rem; 
    }

    .hero-buttons {
        margin-left: 25px;
    }
    .hero-buttons .btn--mus {
        display: block;
        margin-bottom: 15px;
    }
    .hero-buttons .btn--white {
        display: block;
    }

    .container-hero {
    height: 100vh;
    background: url("../images/hero1.jpg") no-repeat fixed; 
    background-position: right;
    background-size: cover;
    -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
    }

    .content-details h3 {
        font-size: 1.5rem;
    }

    .content-image {
        width: 100%;
        height: auto;
    }

    .skill-heading {
        font-size: 1.3rem;
    }

    .skill-heading i {
        font-size: 2.2rem;
}

    .skill-text {
        margin-bottom: 1rem;
        text-align: center;
    }

   .contact-details {
        margin-bottom: 2rem;
        margin-top: 0;
        padding-top:0;
        text-align: center;
    }

    .contact-details .details {
        margin-bottom: 1.4rem;
    }

    .contact-details .details a {
        font-size: 1.3rem;
    }

    .contact-details .details i {
        font-size: 1.3rem;
    }

    form {
        max-width: 90%;
        margin: 0 auto;
    }

    .form-button {
        text-align: center;
    }
    
}

/*For small devices (large phones, portrait tablets)*/
@media screen and (min-width:601px) {
    .main-heading {
        font-size: 2.5rem;
    }

    .main-text {
      font-size: 1.5rem;  
    }

    .hero-buttons {
        margin-left: 25px;  
    }

    .btn--mus {
        margin-bottom: 0;
    }
    
    .container-hero {
    height: 100vh;
    background: url("../images/hero1.jpg") no-repeat fixed; 
    background-position: right;
    background-size: cover;
    -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
    }

    .content-details h3 {
        font-size: 1.5rem;
    }

    .content-image {
        width: 100%;
        height: auto;
    }

    .skill-text {
    margin-bottom: 1.2rem;
    text-align: center;
    }

    .contact-details {
        margin-bottom: 2rem;
        margin-top: 1rem;
        padding-top:0;
        text-align: center;
    }

    form {
        max-width: 90%;
        margin: 0 auto;
    }

    .form-button {
        text-align: center;
    }
    
}
/* For medium devices (landscape phones and tablets) */
@media screen and (min-width:768px)  {
   .header {
       margin-right: 1rem;
   }
    .main-heading {
        font-size: 3.8rem;
    }
    .container-hero {
        height: 100vh;
        background: url("../images/hero1.jpg") no-repeat fixed; 
        background-position: center;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 0px;
    }
    .content-image {
        width: 100%;
        height: auto;
    }
    .contact-details {
        margin-top: 1rem;
        margin-bottom: 2rem;
        padding-top: 0;
        text-align: center; 
    }

    form {
        width: 100%;
        margin: 0 auto;       
    }

    .form-button {
        text-align: center;
    }
}
/* For large devices (laptops, large landscape tablets) */
@media screen and (min-width:992px) {
    .contact-details {
        text-align: left;
    }
}

